<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chaplaincy.stlukeapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mysplashlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mysplashlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.StLukeApp">
        <activity
            android:name=".SignIn"
            android:exported="false" />
        <activity
            android:name=".DashboardActivities.WayOfCross"
            android:exported="false" />
        <activity
            android:name=".DashboardActivities.Order"
            android:exported="false" />
        <activity
            android:name=".DashboardActivities.Readings"
            android:exported="false" />
        <activity
            android:name=".DashboardActivities.Youtube"
            android:exported="false" />
        <activity
            android:name=".DashboardActivities.Catena"
            android:exported="false" />
        <activity
            android:name=".DashboardActivities.SingleNovena"
            android:exported="false" />
        <activity
            android:name=".DashboardActivities.Novena"
            android:exported="false" />
        <activity
            android:name=".DashboardActivities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashboardActivities.Legion"
            android:exported="false" />
        <activity
            android:name=".DashboardActivities.Rosary"
            android:exported="false" />
        <activity
            android:name=".Fragments.Dashboard"
            android:exported="false" />
        <activity
            android:name=".DashboardActivities.Hymns"
            android:exported="false" />
    </application>

</manifest>