<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stlukeapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:icon="@drawable/mysplashlogo"
        android:roundIcon="@drawable/mysplashlogo"
        android:theme="@style/Theme.StLukeApp">
        <activity
            android:name=".WayOfCross"
            android:exported="false" />
        <activity
            android:name=".Order"
            android:exported="false" />
        <activity
            android:name=".Readings"
            android:exported="false" />
        <activity
            android:name=".Youtube"
            android:exported="false" />
        <activity
            android:name=".Catena"
            android:exported="false" />
        <activity
            android:name=".SingleNovena"
            android:exported="false" />
        <activity
            android:name=".Novena"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />

        <activity
            android:name=".splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Legion"
            android:exported="false" />
        <activity
            android:name=".Rosary"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".entrance"
            android:exported="false" />
    </application>

</manifest>